<h1>Edit Page</h1>

<%= form_for @listing do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :phone %>
	<%= f.text_field :phone %>
	<%= f.label :property_type %>
	<%= f.text_field :property_type %>
	<%= f.label :country %>
	<%= f.text_field :country %>
	<%= f.label :num_room %>
	<%= f.text_field :num_room %>
	<%= f.submit 'Update' %>
	<%= link_to "Back", listings_path %>
<% end %>

