<!DOCTYPE html>
<html>
<head>
	<title>Seabnb - <%= @listing.name %></title>
</head>
<body class="text-center">

	<%= render partial: '/listings/form' %>

	<h1><%= @listing.name %></h1>
	
	 <div>
		 <img class="img-fluid">
			<% if @listing.picture.exists? %>
			 	<%= image_tag(@listing.picture.url) %>
		 	<% else %>
			 	================== <br />
			 	No Picture Display <br />
			 	================== <br />
			<% end %>
		 </img>
	 </div>

	 <div class="container" style="margin-bottom: 5rem;">
	   <!-- Name : <%#= @listing.name %><br /> -->
	   Phone : <%= @listing.phone %><br />
	   Type : <%= @listing.property_type %><br />
	   No. Room : <%= @listing.num_room %><br />
	   Country : <%= @listing.country %><br />
	   <%= @listing.more_description %><br />
	   Price : <%= '%.2f' % @listing.price %><br />
	   <% if signed_in? && current_user.id == @listing.user_id%>
		   <%= link_to "Edit", edit_listing_path(@listing), :class => "btn btn-outline-secondary" %>
		   <%= link_to "Delete", @listing, method: :delete, :data => { :confirm => "Are you sure ?"}, :class => "btn btn-danger" %>
	   <% end %>
	 </div>

			<!-- it is work -->
	 <%= form_for [@listing, Reservation.new] do |f| %>
	 	 <div class="booking-section1">
	 		 <div class="booking-section2" >
	 			 <div class="booking-section3">
	 				 <div class="booking-section3-content">
	 				  <div>
	 				 	 <label>Check-in Date</label>
	 				 	</div>
	 					<!-- <input type="text" name="" id="datetimepicker6"> -->
	 					<%= f.date_field :date_in, type: 'text', :id => "datetimepicker6", :placeholder => "YYYY-MM-DD", :required => true %>
	 				 </div>

	 				 <div class="booking-section3-content">
	 				  <div>
	 					 <label>Check-out Date</label>	
	 					</div>
	 					<!-- <input type="text" name="" id="datetimepicker7" > -->
	 					<%= f.date_field :date_out, type: 'text', :id => "datetimepicker7", :placeholder => "YYYY-MM-DD", :required => true %>
	 				 </div>
	 				 	<%= f.submit "Book Now", :data => { :confirm => "Are you sure ?"}, :class => "btn btn-outline-danger" %>
	 			 </div>
	 		 </div>
	 	 </div>
	 <% end %>

</body>
</html>
