<h1>Show Page</h1>
<%= link_to "New Listing", new_listing_path %>
<p>
	Name : <%= @listing.name %><br />
	Phone : <%= @listing.phone %><br />
	Type : <%= @listing.property_type %><br />
	No. Room : <%= @listing.num_room %><br />
	Country : <%= @listing.country %><br />
	<%= link_to "Edit", edit_listing_path(@listing) %>
	<%= link_to "Delete", @listing, method: :delete %>
</p>