<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="text-center">
<h1>Edit Profile</h1>
	
	<img class="img-fluid">
			<% if @user.avatar.exists? %>
			 	<%= image_tag(@user.avatar.url :medium) %>
		 	<% else %>
		 		<%= image_tag "logos/no-avatar.png", :width => "300" %> 
		 	<% end %>
	 </img>

	<div class="row justify-content-center">
	  <div class="col-6">
			<div class="form-group" style="text-align: left">
				<%= form_for @user do |f| %>
					<%= f.label :email %>
					<%= f.text_field :email, :class => "form-control", :readonly => "true" %><br />
					<%= f.submit 'Update', :class => "btn btn-primary" %>
					<%= f.file_field :avatar %>
					<%= check_box_tag "_remove_picture", "1" %>Remove Picture
				<% end %>
			</div>
	  </div>
	</div>
	<h2>Your Booked List</h2>
	<div class="row justify-content-center">
		<div class="listings-table" style="display: inline-flex; flex-wrap: wrap;">
			<table class="table">
				<div class="col-8">
					<thead class="thead-light">
						<tr class="text-center">
							<th scope="col">#</th>
							<th scope="col">List Name</th>
							<th scope="col">Check In Date</th>
							<th scope="col">Check Out Date</th>
							<th scope="col">Country</th>
							<th scope="col">Host's Person Incharge Email</th>
							<th scope="col">Price Per Night</th>
							<th scope="col"><i class="fas fa-eye"></i></th>
						</tr>
					</thead>
					<% current_user.reservations.each_with_index do |reservation, index| %>
					<tbody>
						<tr>
							<td><%= index + 1 %>.</td>
							<td><%= reservation.listing.name %></td>
							<td><%= reservation.date_in %></td>
							<td><%= reservation.date_out %></td>
							<td><%= reservation.listing.country %></td>
							<td><%= reservation.listing.user.email %></td>
							<td><%= '%.2f' % reservation.listing.price %></td>
							<td><%= link_to "View", listing_path(reservation.listing), :class => "btn btn-outline-secondary" %></td>
						</tr>
					</tbody>
					<% end %>
				</div>
			</table>
		</div>
	</div>

</body>
</html>