<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="text-center">
<h1>Edit Profile</h1>
	
	<img class="img-fluid">
			<% if @user.avatar.exists? %>
			 	<%= image_tag(@user.avatar.url :medium) %>
		 	<% else %>
		 		<%= image_tag "logos/no-avatar.png", :width => "300" %> 
		 	<% end %>
	 </img>

	<div class="row justify-content-center">
	  <div class="col-6">
			<div class="form-group" style="text-align: left">
				<%= form_for @user do |f| %>
					<%= f.label :email %>
					<%= f.text_field :email, :class => "form-control", :readonly => "true" %><br />
					<%= f.submit 'Update', :class => "btn btn-primary" %>
					<%= f.file_field :avatar %>
					<%= check_box_tag "_remove_picture", "1" %>Remove Picture
				<% end %>
			</div>
	  </div>
	</div>

</body>
</html>