<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>

<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

	<div class="carousel-item active">
	 <div class="jumbotron jumbotron-fluid" id="sunsetpic">
	  <div class="container">
	    <h1 class="display-4">Book unique homes and experiences all over the world.</h1>
	    <span class="lead">Book a top-rated home that offers reservation flexibility and work-trip essentials.</span>
	  </div>
	 </div>
	</div>

	<div class="carousel-item">
	 <div class="jumbotron jumbotron-fluid" id="relaxpic">
	  <div class="container">
	    <h1 class="display-4">Relak la bro ~</h1>
	    <span class="lead">Take a brake after the bootcamp, but dont forget to keep coding</span>
	  </div>
	 </div>
	</div>

  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
  
	<div class="card">
	  <%= image_tag("accomodations/treehouse.jpg", height: "180px") %>

	  <div class="card-body">
	    <h5 class="card-title">Card title</h5>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>

	<div class="card">
	  <%= image_tag("accomodations/treehouse.jpg", height: "180px") %>

	  <div class="card-body">
	    <h5 class="card-title">Card title</h5>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>

	<div class="card">
	  <%= image_tag("accomodations/treehouse.jpg", height: "180px") %>

	  <div class="card-body">
	    <h5 class="card-title">Card title</h5>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>

	<div class="card">
	  <%= image_tag("accomodations/treehouse.jpg", height: "180px") %>

	  <div class="card-body">
	    <h5 class="card-title">Card title</h5>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>

	<div class="card">
	  <%= image_tag("accomodations/treehouse.jpg", height: "180px") %>

	  <div class="card-body">
	    <h5 class="card-title">Card title</h5>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>

  </div>
</div>

</body>
</html>