<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>

<!-- header slider section -->
<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

	<div class="carousel-item active">
	 <div class="jumbotron jumbotron-fluid" id="sunsetpic">
	  <div class="container">
	    <h1 class="display-4">Book unique homes and experiences all over the world.</h1>
	    <span class="lead">Book a top-rated home that offers reservation flexibility and work-trip essentials.</span>
	  </div>
	 </div>
	</div>

	<div class="carousel-item">
	 <div class="jumbotron jumbotron-fluid" id="relaxpic">
	  <div class="container">
	    <h1 class="display-4">Relak la bro ~</h1>
	    <span class="lead">Take a brake after the bootcamp, but dont forget to keep coding</span>
	  </div>
	 </div>
	</div>

  </div>
</div>

<!-- cards section -->
<div class="container">
  <div class="row justify-content-center">
  	<% @listings.sample(9).each do |listing| %>
		<div class="card">
		  <%#= image_tag("accomodations/treehouse.jpg", height: "180px") %>
				<% if listing.picture.exists? %>
				 	<%= image_tag(listing.picture.url, height: "180px") %>
			 	<% else %>
			 		<%= image_tag "logos/no-avatar.png", :width => "180" %> 
			 	<% end %>
		  <div class="card-body">
		    <h5 class="card-title"><%= listing.name %></h5>
		    <p class="card-text"><%= listing.more_description %></p>
		    <%= link_to "More", listing_path(listing), :class => "btn btn-primary" %>
		    <div class="card-price-label">From : $<%= listing.price.to_i %></div>
		  </div>
		</div>
  	<% end %>
  </div>
</div>

</body>
</html>