<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<!-- Just an image -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 1rem;">

  <a class="navbar-brand" href="/">
    <%= image_tag("logos/seabnb_logo.png", width: "60px") %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="float: right; text-align: right; display: block;">
      
        <li class="nav-item active">
          <% if signed_in? -%>
          <%= current_user.email %>
        </li>
      
        <li class="nav-item active">
          <%= button_to t(".sign_out"), sign_out_path, method: :delete, :class => "btn btn-primary" %>
          <% else -%>
            <%= link_to t(".sign_in"), sign_in_path, :class => "btn btn-primary" %>
          <% end -%>
        </li>

    </ul>
  </div>
</nav>

 <!--    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div> -->

<div>

  <% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
   
  <% if flash[:alert].present? %>    
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

</div>

  <%= yield %>

  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</body>
</html>
